<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
   	<dict>
       <key>CFBundleIdentifier</key>
       <string>com.bh.safari.readitformeontwitch</string>
       <key>Developer Identifier</key>
       <string>VH8FYD6YYB</string>
       <key>CFBundleVersion</key>
       <string>20180321</string>
       <key>CFBundleShortVersionString</key>
       <string>1.0.2</string>
       <key>URL</key>
       <string>http://binghuan.github.io/download/SafariExt_BH_ReadItForMeOnTwitch.safariextz</string>
     </dict>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.bh.safari.dictionarysearch</string>
       <key>Developer Identifier</key>
       <string>VH8FYD6YYB</string>
       <key>CFBundleVersion</key>
       <string>1</string>
       <key>CFBundleShortVersionString</key>
       <string>1.0</string>
       <key>URL</key>
       <string>http://binghuan.github.io/download/SafariExt_BH_DictionarySearch.safariextz</string>
     </dict>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.bh.safari.googlemapadd-on</string>
       <key>Developer Identifier</key>
       <string>VH8FYD6YYB</string>
       <key>CFBundleVersion</key>
       <string>1</string>
       <key>CFBundleShortVersionString</key>
       <string>1.0</string>
       <key>URL</key>
       <string>http://binghuan.github.io/download/SafariExt_BH_GoogleMapAdd-On.safariextz</string>
     </dict>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.bh.safari.newsbar</string>
       <key>Developer Identifier</key>
       <string>VH8FYD6YYB</string>
       <key>CFBundleVersion</key>
       <string>2</string>
       <key>CFBundleShortVersionString</key>
       <string>1.02</string>
       <key>URL</key>
       <string>http://binghuan.github.io/download/SafariExt_BH_NewsBar.safariextz</string>
     </dict>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.bh.safari.gotothelink</string>
       <key>Developer Identifier</key>
       <string>VH8FYD6YYB</string>
       <key>CFBundleVersion</key>
       <string>1</string>
       <key>CFBundleShortVersionString</key>
       <string>1.0</string>
       <key>URL</key>
       <string>http://binghuan.github.io/download/SafariExt_BH_GoToTheLink.safariextz</string>
     </dict>
    <dict>
       <key>CFBundleIdentifier</key>
       <string>com.trendmicro.safariextdirectpass</string>
       <key>Developer Identifier</key>
       <string>VH8FYD6YYB</string>
       <key>CFBundleVersion</key>
       <string>1</string>
       <key>CFBundleShortVersionString</key>
       <string>0.01</string>
       <key>URL</key>
       <string>http://binghuan.github.io/download/SafariExt_DirectPass.safariextz</string>
    </dict>
   </array>
</dict>
</plist>